.container{                      
    /*  control+/ for comments in css */
    display:flex; 
    height: 500px;
    flex-direction:column;
    justify-content:center;
    /* align-items:center; */
    background-color: skyblue;
}                           
.item{ 
    font-size: 40px;
    height: 100px;
    width:100px;
    background-color: blue;
    color:white;
    margin:10px; 
    align-self:flex-start;
}  

.item:nth-child(2){ 
    align-self: center;
    align-content: center;

}
.item:nth-child(3){ 
    align-self: self-end;

}
